* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0d240c;
    color: rgb(248, 247, 246);
    text-align: center;
    padding: 10px;
    position: relative;
    top: 250px;

}

h1 {
    padding:10px;
}

p{
    padding: 10px;
}

a {
    color:rgb(57, 185, 32)
}

table{
 margin: auto;   
}