* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1b3a18;
    color: rgb(248, 247, 246);
    text-align: center;
    padding: 10px;

}

h1 {
    padding:10px;
}

p{
    padding: 10px;
}

a {
    color:rgb(57, 185, 32)
}

table{
 margin: auto;   
}

img {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.05);
}

img:active {
    transform: scale(0.95);
}

.container{
    width:80%;
    display: flex;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
}

/* Container que força o alinhamento no centro da tela */
.caixa-audio {
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    width: 100%;
    margin-top: -40px;        /* Espaço superior simples */
    margin-bottom: 20px;     /* Espaço inferior para afastar do título */
}

/* Estilo e tamanho fixo do player */
.caixa-audio audio {
    width: 600px !important;
    max-width: 90%;
    height: 45px;
    border-radius: 30px;
    filter: invert(0.1);
}

/* Cor bege nos controles internos */
audio::-webkit-media-controls-panel {
    background-color: #d2b48c !important;
}
